.add-task {
  position: absolute;
  flex-direction: column;
  display: flex;
  height: 1024px;
  left: 320px;
  width: 518px;
  top: 137px;
}

.add-task-title {
  width: 380px;
  height: 74px;
  margin-bottom: 20px;
  padding: 0px 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
  outline: none;
  border: none;
  font-size: 40px;
}

.add-task-title::placeholder {
  color: #d1d1d1;
}

.add-task-select-contact {
  width: 422px;
  height: 51px;
  border: 0px 0px 1px 0px;
  padding: 0px 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
  border: none;
  outline: none;
  font-size: 19px;
  appearance: none;
  background-image: url("./assets/img/selectfieldArrow.png");
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.add-task-due-date {
  width: 422px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.add-task h2 {
  color: #42526e;
  font-size: 19px;
  font-weight: 700;
  margin-top: 31px;
  margin-bottom: 15px;
}

.add-task-due-date-input {
  width: 380px;
  padding: 18px 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
  border: none;
  outline: none;
  color: black;
}

input[type="date"]::placeholder {
  color: #d1d1d1;
}

.add-task-due-date-input::-webkit-calendar-picker-indicator {
  width: 23px;
  height: 23px;
  background-image: url("./assets/img/date-logo.png");
}

.add-task-priority {
  display: flex;
  justify-content: center;
  width: 422px;
  margin-top: 10px;
  margin-bottom: -20px;
  gap: 10px;
}

.add-task-button-priority {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 51px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  padding: 18px 10px;
  gap: 10px;
  font-size: 19px;
}

.add-task-description {
  margin-top: 20px;
}

.add-task-textarea {
  width: 387px;
  height: 103px;
  padding: 16px;
  outline: none;
  border: 1px solid rgba(#d1d1d1);
  border-radius: 0 10px 10px 10px;
  font-size: 19px;
}

.add-task-textarea::placeholder {
  color: #d1d1d1;
}

.add-task-subtask {
  width: 380px;
  height: 74px;
  margin-bottom: 20px;
  padding: 0px 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
  outline: none;
  border: none;
  font-size: 19px;
}

.add-task-plus-button {
  margin-left: -50px;
}

.add-task-subtask::placeholder {
  color: #d1d1d1;
}

.change-color-urgent {
  background-color: #ff3d00 !important;
  color: white;
}

.change-color-medium {
  background-color: #ffa800 !important;
  color: white;
}

.change-color-low {
  background-color: #7ae229 !important;
  color: white;
}

#urgent:hover {
  box-shadow: 0 4px 0px 0px #ff3d00;
}

#medium:hover {
  box-shadow: 0 4px 0px 0px #ffa800;
}

#low:hover {
  box-shadow: 0 4px 0px 0px #7ae229;
}

#urgent.clicked {
  box-shadow: none;
}

#medium.clicked {
  box-shadow: none;
}

#low.clicked {
  box-shadow: none;
}

.subtask {
  display: flex;
}

.add-task-button-clear {
  margin-left: 5px;
  background-color: white;
  color: #647188;
  border-radius: 10px;
  border: 1px solid #647188;
  font-size: 23px;
  width: 136px;
  height: 61px;
}

.add-task-button-create {
  background-color: #4589FF;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  font-size: 23px;
  width: 180px;
  height: 61px;
}

.add-task-button-clear img{
  margin-left: 12px;
}

.add-task-button-create img{
  margin-left: 12px;
}

.add-task-button {
  gap: 10px;
  margin-left: 319px;
  display: flex;
  align-items: end;
  margin-top: 136px;
}

.add-task-button-clear:hover{
border: 1px solid rga#647188;
color: #005DFF;

}

.add-task-button-create:hover{
  border: 1px solid rga#647188;
  background-color: #005DFF;
  }


  #task{
    margin-top: 100px;
    width: 208px;
    margin-left: 825px;
  }