/* generell classes */

body {
  margin: 0;
  font-family: "Open Sans";
}

.d-none {
  display: none!important;
}

.cursor-pointer{
  cursor: pointer;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4589ff;
  padding: 20px 39px;
  z-index: 3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.header-img {
  width: 47px;
  height: 57.3px;
}

.header-data {
  display: flex;
  align-items: center;
  gap: 26px;
  font-size: 19px;
  color: white;
}

.header-help {
  width: 31px;
  height: 31px;
}

#header-user-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-user-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
  background-image: url("./assets/img/test-ellipse 3.svg");
  background-size: 49px 49px;
}

#header-user-name {
  display: flex;
  width: 17px;
  height: 17px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  background-color: #FFFFFF;
  font-weight: bold;
  color: #4589FF;
  /* font-size: 24px;  for one letter*/
}

/* navigation */

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 232px;
  height: calc(100% - 97px);
  top: 97px;
  padding: 66px 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 16px;
  color: #42526e;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.topic {
  display: flex;
  align-items: center;
  width: 186px;
  padding: 8px 30px;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #42526e;
  box-sizing: border-box;
}

.topic:hover {
  background-color: #E3EEFF;
}

.topic img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.topic span {
  color: #42526E;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.topic-active {
  background-color: #D2E3FF;
}

.legal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 300px;
}



