.add-task {
  position: absolute;
  flex-direction: column;
  display: flex;
  height: 1024px;
  left: 320px;
  width: 518px;
  top: 137px;
}

.add-task-title {
  width: 380px;
  height: 74px;
  margin-bottom: 20px;
  padding: 0px 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
  outline: none;
  border: none;
  font-size: 40px;
 
}

.add-task-title::placeholder {
  color: #d1d1d1;
}

.add-task-select-contact {
  width: 380px;
  height: 51px;
  border: 0px 0px 1px 0px;
  padding-right: 40px;
  padding-left: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
  border: none;
  outline: none;
  font-size: 19px;
  appearance: none;
}

.add-task-select-contact-edit {
  display: flex;
  align-items: center;
}

.add-task-select-contact-edit img {
  margin-left: -40px;
  margin-right: 5px;
}

.add-task-choose-contacts {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  opacity: 1;
  max-height: 1000px; /* oder eine geeignete Höhe, die größer als die Höhe der Kontaktliste ist */
  overflow: hidden;
  transition: max-height 300ms;
}

.add-task-hide-contacts {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  max-height: 0;
  overflow: hidden;
}

.add-task-single-contact {
  width: 400px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding-left: 24px;
}

.add-task-single-contact-invite {
  width: 400px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding-left: 24px;
  border-radius: 0px 0px 10px 10px;
}

.add-task-single-contact img {
  margin-right: 20px;
}

.add-task-single-contact-invite img {
  margin-right: 20px;
}

.add-task-single-contact:hover {
  cursor: pointer;
  background-color: #d2e3ff;
}

.add-task-single-contact-invite:hover {
  cursor: pointer;
  background-color: #d2e3ff;
}

.hide-cursor {
  caret-color: transparent;
}

.add-task-initials-area {
  display: flex;
}

.add-task-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-right: 3px;
  border-radius: 58px;
  height: 45px;
  width: 45px;
  background-color: #0190e0;
  color: white;
  font-size: 21px;
}

.add-task-due-date {
  width: 420px;
  border: none;
  outline: none;
  margin-top: 0;
}

.add-task-edit-category {
  margin-left: 240px;
}

.add-task-due-date h2 {
  color: #42526e;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px;
}

.add-task-due-date-input {
  width: 380px;
  padding: 18px 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
  border: none;
  outline: none;
  color: black;
}

input[type="date"]::placeholder {
  color: #d1d1d1;
}

/*Category Colors*/

#lightBlue {
  height: 20px;
  width: 20px;
  background-color: #1FD7C1;
  border-radius: 46px;
  border: 2px solid white;
  margin-right: 15px;
}


#red {
  height: 20px;
  width: 20px;
  background-color: lightblue;
  border-radius: 46px;
  border: 2px solid white;
  margin-right: 15px;
}

#green {
  height: 20px;
  width: 20px;
  background-color: lightblue;
  border-radius: 46px;
  border: 2px solid white;
  margin-right: 15px;
}

#orange {
  height: 20px;
  width: 20px;
  background-color: lightblue;
  border-radius: 46px;
  border: 2px solid white;
  margin-right: 15px;
}

#rosa {
  height: 20px;
  width: 20px;
  background-color: lightblue;
  border-radius: 46px;
  border: 2px solid white;
  margin-right: 15px;
}

#blue {
  height: 20px;
  width: 20px;
  background-color: lightblue;
  border-radius: 46px;
  border: 2px solid white;
  margin-right: 15px;
}

.add-task-category-colors {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.add-task-category-colors img {
  margin-right: 15px;
}

.add-task-placeholder-color-category {
  margin-left: -230px;
}

.add-task-due-date-input::-webkit-calendar-picker-indicator {
  width: 23px;
  height: 23px;
  background-image: url("../img/date-logo.png");
}

.add-task-priority {
  display: flex;
  justify-content: center;
  width: 422px;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 16px;
}

.add-task-choose-priority {
  display: flex;
  flex-direction: column;
  font-size: 19px;
}

.add-task-single-priority {
  width: 400px;
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.add-task-single-priority img {
  margin-left: 12px;
}

.add-task-single-priority:hover {
  cursor: pointer;
  background-color: #d2e3ff;
}

.add-task-button-priority {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 51px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  padding: 18px 10px;
  gap: 10px;
  font-size: 19px;
}

.add-task-description {
  margin-top: 20px;
}

.add-task-description-form {
  margin-top: 20px;
}

.add-task-textarea {
  width: 387px;
  height: 103px;
  padding: 16px;
  outline: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 10px;
  font-size: 19px;
}

.add-task-textarea::placeholder {
  color: #d1d1d1;
}

.add-task-subtask {
  width: 380px;
  height: 74px;
  margin-bottom: 20px;
  padding: 0px 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16) !important;
  outline: none;
  border: none;
  font-size: 19px;
}

.subTaskArea{
  margin-bottom: 34px;
}

.add-task-plus-button {
  margin-left: -50px;
}

.add-task-subtask::placeholder {
  color: #d1d1d1;
}

.change-color-urgent {
  background-color: #ff3d00 !important;
  color: white;
}

.change-color-medium {
  background-color: #ffa800 !important;
  color: white;
}

.change-color-low {
  background-color: #7ae229 !important;
  color: white;
}

#urgent:hover {
  box-shadow: 0 4px 0px 0px #ff3d00;
}

#medium:hover {
  box-shadow: 0 4px 0px 0px #ffa800;
}

#low:hover {
  box-shadow: 0 4px 0px 0px #7ae229;
}

#urgent.clicked {
  box-shadow: none;
}

#medium.clicked {
  box-shadow: none;
}

#low.clicked {
  box-shadow: none;
}

.subtask {
  display: flex;
}

.add-task-button-clear {
  margin-left: 5px;
  background-color: white;
  color: #647188;
  border-radius: 10px;
  border: 1px solid #647188;
  font-size: 23px;
  width: 136px;
  height: 61px;
}

.add-task-button-clear:hover{
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.3);
  border: 2px solid #4589FF;
}

.add-task-button-create {
  background-color: #4589ff;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  font-size: 23px;
  width: 180px;
  height: 61px;
}

.add-task-button-clear img {
  margin-left: 12px;
}

.add-task-button-create img {
  margin-left: 12px;
}

.add-task-button {
  gap: 10px;
  margin-left: 319px;
  display: flex;
  align-items: end;
  margin-top: 136px;
}

.add-task-button-clear:hover {
  border: 1px solid rga#647188;
  color: #005dff;
}

.add-task-button-create:hover {
  border: 1px solid rga#647188;
  background-color: #005dff;
}

#task {
  margin-top: 100px;
  width: 208px;
  margin-left: 825px;
}

.task-added-to-board {
  position: fixed;
  margin-top: 450px;
  margin-left: 40%;
  transition: margin-top 300ms;
  z-index: 9999;
}

.task-added-to-board-board {
  transition: margin-top 300ms;
  z-index: 9999;
  margin-left: 40%;
  margin-top: -240px;
  position: fixed;
}

.task-added-to-board-hide{
  margin-top: 1000px;
  margin-left: 40%;
  transition: margin-top 300ms;
}

/* AddTask hinzufügen zu Board*/

.add-task-to-board{
  background-color: white;
  padding-left: 16px;
  width: 440px;
  z-index: 3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: -2px 2px 7px -6px;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
  transition: right 325ms ease-out;
  height: 100vh;
  overflow-y: scroll;
}

.add-task-to-board-hide{
  right: -1000px;
  overflow: hidden;
  transition: right 825ms ease-out;
}

.add-task-h2-big{
  font-size: 48px!important;
  margin-left: 22px;
}

.add-task-button-create-board{
  background-color: #4589ff;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  font-size: 23px;
  width: 180px;
  height: 61px;
  margin-bottom: 20px;
  margin-left: -471px;
  margin-top: 10px;
}

.add-task-button-create-board:hover {
  border: 1px solid rga#647188;
  background-color: #005dff;
}

.add-task-button-img{
  margin-left: 5px;
}

.add-task-button-to-board{
  right: -210px;
  top: 87%;
  position: fixed;
}

.overflow-hidden{
  overflow: hidden;
}

.add-task-to-board-close-button{
  margin-left: 395px;
  margin-top: 16px;
  position: fixed;
  border-radius: 45px;
}

.add-task-to-board-close-button:hover{
  cursor: pointer;
  background-color:#dde0e5;
}

.add-task-to-board-title{
  background-color: white;
  position: fixed;
  z-index: 999;
  width: 422px;
}

.padding-top{
  padding-top: 120px;
}

.decrease-opacity{
  opacity: 0.4;
  transition: opacity 325ms ease-out; 
}

.full-opacity{
  opacity: 1;
  transition: opacity 325ms ease-out; 
}

.overflowY{
overflow-y: hidden;
}

/* edit Task */

.edit-task-to-board{
  background-color: white;
  padding-left: 16px;
  width: 440px;
  z-index: 3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: -2px 2px 7px -6px;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 290px;
  transition: right 325ms ease-out;
  height: 100vh;
  overflow-y: scroll;
}

.edit-task-button-create-board{
  background-color: #4589ff;
  color: white;
  border-radius: 10px;
  border: 1px solid;
  font-size: 23px;
  width: 120px;
  height: 61px;
  margin-left: -730px;
  margin-top: -40px;
  position: absolute
}