#board{
    margin-left: 232px;
}

#input{
    width: 180px;
    border: none;
    font-size: 16px;
}
#img-search{
    width: 20px;
    height: 20px;
    border-left: 1px solid #D7D7D7;
    padding-left: 13px;
}

#find-task{
    display: flex;
    width: 210px;
    padding: 13px 21px;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
}
#board-input{
    display: flex;
    margin-left: 70px;
    margin-top: 170px;
    gap: 35px;
}
#board-button{
    padding: 10px 10px;
    color: white;
    background-color: #4589FF;
    font-size: 23px;
    border: none;
    border-radius: 10px;
}
#board-button-plus{
    font-size: 27px;
}

#task-area{
    display: flex;
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 26px;
}
.task-body{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 35px;
}
.task-body img{
    height: auto;
    width: 24px;
}
.task-body-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 23px;
    font-weight: 700;
}
.task-decoration{
    display: flex;
    flex-direction: column;
    padding: 18px;
    margin-bottom: 35px;
    gap: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}
.task-category{
    padding: 4px 25px;
    margin-right: auto;
    border-radius: 8px;
    color: white;
    }
#task-title{
    color: #4589FF;
    font-weight: 700;
}
#task-description{
    color: #A8A8A8;
}
#contact-area{
    color: white;
}
.contacts{
    min-width: 10px;
    padding: 10px 8px;
    margin-right: -6px;
    border: 1px solid white;
    border-radius: 58px;
    font-size: 14px;
}
#task-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-area-img{
    height: 32px !important;
}
.progress-bar{
    display: flex;
    font-size: 13px;
    color: #000000;
    gap: 17px;
    align-items: center;
}
#progress-bar-outside{
    width: 70px;
    height: 8px;
    border-radius: 2px;
    background-color: #F4F4F4;
}
.progress-bar-inside{
    width: 0%;
    height: 100%;
    background-color: #4589FF;
}