#board{
    margin-left: 232px;
}

#input{
    border: none;
    width: 180px;
    font-size: 16px;
}
#img-search{
    height: 20px;
    width: 20px;
    border-left: 1px solid #D7D7D7;
    padding-left: 13px;
}

#find-task{
    display: flex;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    width: 210px;
    padding: 13px 21px;
}
#board-input{
    display: flex;
    margin-left: 70px;
    margin-top: 80px;
    gap: 35px;
}
#board-button{
    background-color: #4589FF;
    border-radius: 10px;
    padding: 10px 10px;
    color: white;
    font-size: 23px;
    border: none;
}
#board-button-plus{
    font-size: 27px;
}

#task-area{
    display: flex;
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 26px;
}
.task-body{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.task-body img{
    height: 24px;
    width: auto;
}
.task-body-flex{
    font-size: 23px;
    font-weight: 700;
    display: flex;
    width: 100%;
    justify-content: space-between;
}