#contact-list{
    margin-top: 98px;
    margin-left: 232px;
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 0px 6px 0px #00000014;
    justify-content: center;
}
#add-contact{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 356px;
    justify-content: center;
    background-color: #4589FF;
    border-radius: 10px;
    border: 1px solid #4589FF;
    padding: 18px 10px;
    font-size: 23px;
    color: white;
}
#add-contact:hover{
    background-color: #005DFF;
    cursor: pointer;
}
#contact-list-inside{
    padding: 32px 24px 16px 24px;
    position: fixed;
    top: 97px;
}
#contact-column{
    display: flex;
    flex-direction: column;
    width: 356px;
    height: 600px;
    margin-top: 97px;
}
#letter-headline{
    padding: 17px 36px 17px 36px;
}
#line{
    width: 356px;
    height: 1px;
    background-color: #D1D1D1;
    margin: 8px 0;
}
.contact{
    display: flex;
    gap: 35px;
    padding: 15px 24px 15px 24px;
    border-radius: 10px;
}
.contact:hover{
    background-color: #D2E3FF;
    cursor: pointer;
}
.contact-sign{
    border-radius: 45px;
    padding: 11px 11px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}
#contact-data{
    gap: 5px;
    display: flex;
    flex-direction: column;
}
#mail{
    color: #005DFF;
}
#contacts-outside{
    display: flex;
}
#contact-display{
    margin-top: 168px;
    margin-left: 62px;
    position: fixed;
    left: 688px;
}
#contact-header{
    display: flex;
    align-items: center;
    gap: 54px;
}
#contact-icon{
    font-size: 47px;
    font-weight: 500;
    color: white;
    border-radius: 70px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-display-name{
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact-imgs{
    display: flex;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}
.contact-img{
    display: flex;
    align-items: center;
    gap: 8px;
}
.contact-img:hover{
    color: #005DFF;
    font-weight: 700;
    cursor: pointer;
    margin-right: -2.8px;
}
#contact-information{
    margin: 21px 0;
    font-size: 23px;
    font-weight: 700;
}
#contact-mail-phone{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
#contact-mail{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
}
#contact-phone{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
}
#contact-mail-title{
    font-weight: 700;
}
#contact-phone-title{
    font-weight: 700;
}
#contact-mail-adress{
    color: #005DFF;
}