
@media (orientation: landscape) and (max-heigth: 500px){
  #login-form {
    margin-top: 300px!important;
  }

}

@media (max-width: 1100px) {
  .epass {
    width: 405px;
  }

  #signup-name {
    width: 360px;
  }

  #signup-email {
    width: 360px;
  }

  #signup-pass {
    width: 360px;
  }

  #signup-pass-input {
    width: 360px;
  }

  .epass input {
    width: 380px;
  }

  #forget-con {
    gap: 16px;
    flex-direction: column-reverse;
    margin-left: -70%;
  }

  #login-form {
    margin-top: 10px;
  }

  #login-btn-con {
    gap: 21px;
    flex-direction: column;
  }
  .login-btn {
    padding: 10px 61px;
    width: 100%;
  }
  .login-brand {
    height: 67px;
    width: auto;
    top: 16px;
    left: 23px;
  }

  .login-form {
    width: 250px;
    margin-top: 0;
  }
}

@media (max-width: 750px) {
  #login-signup-con button {
    padding: 5px 8px;
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  #login-signup-con {
    display: none;
  }

  .epass {
    width: 400px;
  }

  #login-signup-con-responsive {
    display: inline-flex;
    margin-bottom: 80px;
  }

  #forget-con {
    margin-left: -64%;
  }
  .signup-form {
    padding: 48px 0px;
  }
  #back-arrow {
    top: 18px;
    left: 25px;
  }
  .login-title {
    font-size: 40px !important;
  }
  .loss-span {
    font-size: 19px;
  }
}

@media (max-width: 525px) {
  .login-form {
    padding: 48px 40px;
  }

  
  .epass {
    width: 260px;
  }
  .epass input {
    width: 220px;
  }
  #forget-con {
    margin-left: -40%;
  }
  #login-signup-con-responsive span {
    font-size: 16px;
  }
  .not-match-con {
    width: 300px;
  }
  #back-arrow {
    left: 25px;
  }
}

@media (max-width: 420px) {

  .login-user {
    width: 220px;
  }

  .epass input {
    width: 170px;
  }

  #login-form {
    width: 205px;
  }

  .epass{
    width: 200px;
  }

  .login-email{
    margin-left: 12px;
  }

  .signup-form {
    width: 318px;
  }
  .login-title {
    font-size: 25px !important;
  }
  .loss-span {
    font-size: 17px;
    margin: 10px;
  }
 
}

@media (max-height: 600px) {
  .login-legal{
    position: unset;
  }

  .login-con{
    height: 100%;
    padding-bottom: 250px;
  }
}
