
@media (max-width: 1100px) {
    .epass {
      width: 405px;
    }
  
    .epass input {
      width: 380px;
    }
  
    #forget-con {
      gap: 16px;
      flex-direction: column-reverse;
      margin-left: -70%;
    }

    #login-form {
      margin-top: 254px;
    }
  
    #login-btn-con {
      gap: 21px;
      flex-direction: column;
    }
    .login-btn {
      padding: 10px 61px;
    }
    .login-brand {
      height: 67px;
      width: auto;
      top: 16px;
      left: 23px;
    }

    .login-form {
      width: 250px;
      margin-top: 0;
    }
  }
  
  @media (max-width: 650px) {
    #login-signup-con {
      display: none;
    }
    #login-signup-con-responsive {
      display: inline-flex;
    }
  
    .login-legal {
      bottom: -200px;
    }

    #forget-con {
      margin-left: -64%;
    }
    .signup-form {
      padding: 48px 0px;
    }
    #back-arrow {
      top: 18px;
      left: 25px;
    }
    .login-title {
      font-size: 40px!important;
    }
    .loss-span{
      font-size: 19px;
    }
  }
  
  @media (max-width: 525px) {
    .login-form {
      padding: 48px 40px;
    }
    .epass {
      width: 260px;
    }
    .epass input {
      width: 220px;
    }
    #forget-con {
      margin-left: -40%;
    }
    #login-signup-con-responsive span {
      font-size: 16px;
    }
    .not-match-con {
      width: 300px;
    }
    #back-arrow {
      left: 25px;
    }
    #signup-email{
      margin-left: 48px!important;
  }
  }
  
  @media(max-width: 420px){
  .signup-form{
      width: 318px
  }
  .login-title{
      font-size: 25px!important;
  }
  .loss-span{
      font-size: 17px;
      margin: 10px;
  }
  #signup-email{
      margin-left: 45px!important;
  }
  }