#login-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background: #4589FF;
    animation-name: colorChange;
    animation-duration: 300ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

#login-img {
    position: absolute;
    width: 265px;
    height: 323px;
    animation-name: imgVanish;
    animation-duration: 300ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

.login-brand {
    position: absolute;
    top: 80px;
    left: 77px;
}

#login-signup-con {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 67px;
    right: 86px;
    gap: 35px;
}

#login-signup-con span {
    color: #000;
    font-size: 23px;
    line-height: 120%;
}

#login-signup-con button {
    padding: 10px 16px;
}

#login-signup-con a {
    text-decoration: none;
}

#login-form {
    display: inline-flex;
    padding: 48px 115px;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

#login-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#login-headline span{
    color: #000000;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.login-user {
    display: flex;
    height: 152px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.epass {
    display: flex;
    width: 422px;
    padding: 12px 21px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #D1D1D1;
    background: #FFFFFF;
}

.epass input {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-size: 19px;
    line-height: 120%;
    border: none;
    outline: none;
}

#forget-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
}

#rem-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#Remember-me {
    display: none;
}

#Remember-me + label {
    width: 24px;
    height: 24px;
    background-image: url('../img/blue-checkbox.svg')
}

#Remember-me:hover + label{
    background-image: url('../img/blue-checkbox-hover.svg');
}

#Remember-me:checked + label {
    background-image: url('../img/blue-checkbox-checked.svg');
}

#Remember-me:checked:hover + label {
    background-image: url('../img/blue-checkbox-checked-hover.svg');
}

#rem-checkbox span {
    font-size: 16px;
    line-height: 120%;
    font-family: 'Open Sans';
}


#forgot-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #005DFF;
    font-size: 16px;
    line-height: 120%;
    margin-left: 10px;
}

#forgot-link:hover {
    font-weight: 600;
    text-decoration: underline;
    margin-left: 1px;
}


#login-btn-con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.login-btn {
    display: flex;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4589FF;
    color: #FFFFFF;
    font-size: 23px;
    line-height: 120%;
    border: none;
}

.login-btn:hover {
    background: #005DFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#login-guest {
    display: flex;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #647188;
    background: #FFFFFF;
    color: #647188;
    font-size: 23px;
    line-height: 120%;
    text-decoration: none;
}

#login-guest:hover {
    border: 2px solid #4589FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #4589FF;
    padding: 9px 34px;
}

.login-legal {
    position: absolute;
    width: 240px;
    height: 35px;
    flex-shrink: 0;
    bottom: 42px;
}

.login-legal a {
    display: inline-flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
}

.login-legal-link {
    color: black;
}

.signup-legal-link {
    color: #FFFFFF;
}

.login-legal a:hover {
    color: #005DFF;
}

@keyframes colorChange {
    100% {
        background-color: white;
    }
}

@keyframes imgVanish {

    100% {
        transform: translate(-50%, -50%) scale(0);
        /* kleines symbol auch gleich anlegen und einfach nach 50% einblenden */
    }
}