/* generell class */
.summary-link {
  text-decoration: none;
}

/* the basic container */
.summary {
    flex-direction: column;
    margin-top: 97px;
    height: calc(100vh - 97px);
    margin-left: 232px;
    gap: 83px;
}

/* the container of the greetig for the user */
#grtng-con {
  display: inline-flex;
  align-items: center;
  gap: 22px;
}

/* the daytime greeting if there is an loged in user */
#greeting {
  color: #2A3647;
  font-size: 48px;
  line-height: 120%;
}

/* the name of the logged in User in the greeting */
#name {
  color: #4589FF;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
}

/* the daytime greeting if no user is logged in. */
#guest-name {
  color: #2A3647;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
}
/* the conatiner for the dashboard */
#summary-con {
  display: flex;
  width: 912px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

/* the container for the upper dashboard */
#summary-con-upper {
  display: flex;
  width: 912px;
  height: 191px;
  justify-content: flex-start;
  align-items: flex-start;
}

/* the big urgent-card on the upper dashboard */
#urgency-summary {
  width: 672px;
  height: 191px;
  padding: 28px 48px;
  margin-right: 19px;
  gap: 35px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #4589FF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  color: #FFFFFF;
  transition: ease-in-out 100ms;
}

/* the big urgent-card on the upper dashboard on hover effect */
#urgency-summary:hover {
  width: 688px;
  height: 207px;
  border-radius: 0px 30px 30px 30px;
  margin-right: 3px;
  background: #FFFFFF;
  transition: ease-in-out 100ms;
}

/* the hover effect from big urgent-Card on the span Tasks urgent */
#urgency-summary:hover #sum-urgent-square-span {
  color: #4589FF;
  font-size: 28px;
}

/* the hover effect from big urgent-Card on the number of the urgent tasks  */
#urgency-summary:hover #sum-urgent-con-in-span {
  color: #4589FF;
  font-size: 58px;
  font-weight: 700;
  line-height: 120%;
}

/* the hover effect from big urgent-Card on the icon of the urgent tasks  */
#urgency-summary:hover #icon {
  width: 86px;
  height: 86px;
}

/* the hover effect from big urgent-Card on the container of the urgent date */
#urgency-summary:hover #urgent-date-screen-date {
  color: #4589FF;
  font-size: 43px;
}

/* the hover effect from big urgent-Card on text Upcoming Deadline */
#urgency-summary:hover #urgent-date-screen-deadline {
  color: #4589FF;
  font-size: 28px;
}

/* the hover effect from big urgent-Card on the vertical line */
#urgency-summary:hover svg path {
  stroke: #005DFF;
}

/* the big urgent-card on the upper dashboard while clicking on it - active effect */
#urgency-summary:active {
  width: 672px;
  height: 191px;
  border-radius: 30px;
  background: #005DFF;
  margin-right: 19px;
}

/* the active effect from big urgent-Card on the span Tasks urgent */
#urgency-summary:active #sum-urgent-square-span {
  color: #FFFFFF;
  font-size: 23px;

}

/* the active effect from big urgent-Card on the number of the urgent tasks  */
#urgency-summary:active #sum-urgent-con-in-span {
  color: #FFFFFF;
  font-size: 48px;
}

/* the active effect from big urgent-Card on the icon of the urgent tasks  */
#urgency-summary:active #icon {
  width: 72px;
  height: 72px;
}

/* the active effect from big urgent-Card on the vertical line */
#urgency-summary:active svg path {
  stroke: #FFFFFF;
}

/* the active effect from big urgent-Card on the container of the urgent date */
#urgency-summary:active #urgent-date-screen-date {
  color: #FFFFFF;
  font-size: 33px;
}

/* the active effect from big urgent-Card on text Upcoming Deadline */
#urgency-summary:active #urgent-date-screen-deadline {
  color: #FFFFFF;
  font-size: 23px;
}

/* dashcard for Tasks Urgent */
#sum-urgent-square {
  flex-direction: column;
  gap: 9px;
}

/* the text of the Tasks Urgent dashcard */
#sum-urgent-square-span {
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
}

/* dashcard Tasks Urgent Container */
#sum-urgent-con {
  gap: 20px;
}

/* dashcard Tasks Urgent Icon Container */
#sum-urgent-con-in {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* the circle around the icon of Tasks Urgent Icon */
#icon-circle {
  width: 76px;
  height: 76px;
  background-image: url("../img/ellipse 14.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* the Tasks Urgent Icon */
#icon {
  display: flex;
  width: 72px;
  height: 72px;
  align-items: flex-start;
  flex-shrink: 0;
  background: url("../img/sum-urgent.png");
  background-size: contain;
}

/* the number of the Tasks Urgent */
#sum-urgent-con-in-span {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

/* the vertical line container */
#ver-line {
  width: 0px;
  height: 145px;
  flex-shrink: 0;
}

/* the vertical line SVG */
#ver-line svg{
  width: 4px;
  height: 149px;
}

/* the vertical line path for the stroke */
#ver-line svg path{
  stroke: white;
  stroke-width: 3;
}

#urgent-date-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px; 
}

#urgent-date-screen-date {
  color: #FFFFFF;
  font-size: 33px;
  font-weight: 700;
  line-height: 120%;
}

#urgent-date-screen-deadline {
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
}

#square-button {
  display: inline-flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-left: 19px;
  background:  #D2E3FF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  transition: ease-in-out 100ms;
}

#square-button:hover {
  border-radius: 0px 30px 30px 30px;
  background: #FFFFFF;
  margin-left: 2px;
  transition: ease-in-out 100ms;
}

#square-button:hover .board-btn-img-icon {
  width: 86px;
  height: 86px;
  transition: ease-in-out 100ms;
}

#square-button:hover .sum-board-btn-in-span{
  color: #005DFF;
  font-size: 22px;
  transition: ease-in-out 100ms;
}

#square-button:hover #board-btn-img-span{
  color: #005DFF;
  font-size: 58px;
  transition: ease-in-out 100ms;
}

#square-button:active {
  border-radius: 30px;
  background: #4589FF;
  margin-left: 19px;
}

#square-button:active .board-btn-img-icon {
  width: 76px;
  height: 76px;
}

#square-button:active .sum-board-btn-in-span{
  color: #FFFFFF;
  font-size: 23px;
}

#square-button:active #board-btn-img-span{
  color: #FFFFFF;
  font-size: 48px;
}

#square-button:active .board-btn-img-icon img {
  display: block;
  position: absolute;
  width: 66px;
  height: 74px;
  left: 4px;
  transition: ease-in-out 100ms;
}


#board-btn-img {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: ease-in-out 100ms;
}

#board-btn-img-icon {
  display: flex;
  width: 76px;
  height: 76px;
  align-items: flex-start;
  transition: ease-in-out 100ms;
}

#board-btn-img-span {
  color: #000000;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  transition: ease-in-out 100ms;
}

.sum-board-btn-in-span {
  color: #4589FF;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  transition: ease-in-out 100ms;
}

#sum-overview {
  display: flex;
  height: 219px;
  justify-content: flex-start;
  align-items: flex-start;
}

#sum-overview .sum-board-btn:first-child {
  margin-left: 3px;
}

#sum-overview .sum-board-btn:last-child {
  margin-right: 0;
}

.sum-board-btn {
  display: inline-flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  margin: 0px 18px;
  transition: ease-in-out 100ms;
}

.sum-board-btn-in {
  flex-direction: column;
  gap: 7px;
  transition: ease-in-out 100ms;
}

.board-btn-img {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: ease-in-out 100ms;
}

.board-btn-img-icon {
  display: flex;
  width: 76px;
  height: 76px;
  align-items: flex-start;
  position: relative;
  transition: ease-in-out 100ms;
}

.board-btn-img-icon img {
  display: none;
}

.task-do-to {
  background: url('../img/sum_task_do_to.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-board {
  background: url('../img/sum_board.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-progress {
  background: url('../img/sum_progress.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-awaiting {
  background: url('../img/sum_awaiting.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-done {
  background: url('../img/sum_done.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.board-btn-img-span {
  color: #000000;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  transition: ease-in-out 100ms;
}

.sum-board-btn:hover {
  gap: 13px;
  border-radius: 0px 30px 30px 30px;
  background: #005DFF;
  margin: 0px 10.5px;
  transition: ease-in-out 100ms;
}

.sum-board-btn:first-child:hover{
  margin-right: 3px;
}

.sum-board-btn:last-child:hover{
  margin-left: 0;
}

.sum-board-btn:hover .task-do-to,
.sum-board-btn:hover .sum-board, 
.sum-board-btn:hover .sum-progress,
.sum-board-btn:hover .sum-awaiting,
.sum-board-btn:hover .sum-done {
  width: 86px;
  height: 86px;
  transition: ease-in-out 100ms;
}

.sum-board-btn:hover .board-btn-img-span {
  color: #FFFFFF;
  font-size: 58px;
  transition: ease-in-out 100ms;
}

.sum-board-btn:hover .sum-board-btn-in-span {
  color: #FFFFFF;
  font-size: 28px;
  transition: ease-in-out 100ms;
}

.sum-board-btn:hover .board-btn-img-icon img{
  display: block;
  position: absolute;    
  width: 77px;
  height: 85px;
  left: 4px;
  transition: ease-in-out 100ms;
}

.sum-board-btn:active {
  border-radius: 30px;
  background: #FFFFFF;
  margin: 0px 18px;
}

.sum-board-btn:first-child:active {
  margin-right: 18px;
}

.sum-board-btn:last-child:active {
  margin-left: 18px;
}

.sum-board-btn:active .board-btn-img-span {
  color: #000000;
  font-size: 48px;
}

.sum-board-btn:active .sum-board,
.sum-board-btn:active .sum-progress,
.sum-board-btn:active .sum-awaiting,
.sum-board-btn:active .sum-done 
.sum-board-btn:active .task-do-to {
  width: 76px;
  height: 76px;
}

.sum-board-btn:active .sum-board-btn-in-span {
  color: #4589FF;
  font-size: 23px;
}

.sum-board-btn:active .board-btn-img-icon img{
  display: none;
}


