/* the basic container */
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 97px;
    height: calc(100vh - 97px);
    font-family: 'Open Sans';
    margin-left: 232px;
    gap: 83px;
}

.frame-69 {
  display: inline-flex;
  align-items: center;
  gap: 22px;
}

#greeting {
  color: #2A3647;
  font-family: 'Open Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#name {
  color: #4589FF;
  font-family: 'Open Sans';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#frame-66 {
  display: flex;
  width: 912px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

#frame-189 {
  display: flex;
  width: 912px;
  height: 191px;
  justify-content: flex-start;
  align-items: flex-start;
}

#urgency-summary {
  display: flex;
  width: 672px;
  height: 191px;
  padding: 28px 48px;
  margin-right: 18px;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #4589FF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

#urgency-summary:hover {
  width: 688px;
  height: 207px;
  border-radius: 0px 30px 30px 30px;
  margin-right: 2px;
  background: #FFFFFF;
}

#urgency-summary:hover #frame-187-span {
  color: #4589FF;
  font-size: 28px;
}

#urgency-summary:hover #frame-63-span {
  color: #4589FF;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#urgency-summary:hover #icon {
  width: 86px;
  height: 86px;
}

#urgency-summary:hover #frame-68-date {
  color: #4589FF;
  font-size: 43px;
}

#urgency-summary:hover #frame-68-deadline {
  color: #4589FF;
  font-size: 28px;
}

#urgency-summary:hover svg path {
  stroke: #005DFF;
}

#urgency-summary:active {
  width: 672px;
  height: 191px;
  border-radius: 30px;
  background: #005DFF;
  margin-right: 18px;
}

#urgency-summary:active #frame-187-span {
  color: #FFFFFF;
  font-size: 23px;

}

#urgency-summary:active #frame-63-span {
  color: #FFFFFF;
  font-size: 48px;
}

#urgency-summary:active #icon {
  width: 72px;
  height: 72px;
}

#urgency-summary:active svg path {
  stroke: #FFFFFF;
}

#urgency-summary:active #frame-68-date {
  color: #FFFFFF;
  font-size: 33px;
}

#urgency-summary:active #frame-68-deadline {
  color: #FFFFFF;
  font-size: 23px;
}

#frame-187 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

#frame-187-span {
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#frame-188 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#frame-63 {
  display: flex;
  align-items: center;
  gap: 20px;
}

#icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  background-image: url("../img/ellipse 14.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#icon {
  display: flex;
  width: 72px;
  height: 72px;
  align-items: flex-start;
  flex-shrink: 0;
  background: url("../img/test-urgent.png");
  background-size: contain;
}

#frame-63-span {
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#ver-line {
  width: 0px;
  height: 145px;
  flex-shrink: 0;
}

#ver-line svg{
  width: 4px;
  height: 149px;
}

#ver-line svg path{
  stroke: white;
  stroke-width: 3;
}


#frame-68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px; 
}

#frame-68-date {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#frame-68-deadline {
  color: var(--white, #FFF);
  font-family: "Open Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#square-button {
  display: inline-flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-left: 18px;
  background:  #D2E3FF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

#square-button:hover {
  border-radius: 0px 30px 30px 30px;
  background: #FFFFFF;
  margin-left: 2px;
}

#square-button:hover .frame-184-icon {
  width: 86px;
  height: 86px;
}

#square-button:hover .frame-61-span{
  color: #005DFF;
  font-size: 28px;
}

#square-button:hover #frame-184-span{
  color: #005DFF;
  font-size: 58px;
}

#square-button:active {
  border-radius: 30px;
  background: #4589FF;
  margin-left: 13px;
}

#square-button:active .frame-184-icon {
  width: 73px;
  height: 73px;
}

#square-button:active .frame-61-span{
  color: #FFFFFF;
  font-size: 23px;
}

#square-button:active #frame-184-span{
  color: #FFFFFF;
  font-size: 48px;
}

#square-button:active .frame-184-icon img {
  display: block;
  position: absolute;
  width: 66px;
  height: 74px;
  left: 4px;
}

#frame-61 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

#frame-184 {
  display: flex;
  align-items: center;
  gap: 20px;
}

#frame-184-icon {
  display: flex;
  width: 76px;
  height: 76px;
  align-items: flex-start;
}

#frame-184-span {
  color: #000000;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.frame-61-span {
  color: #4589FF;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

#sum-overview {
  display: flex;
  height: 219px;
  justify-content: flex-start;
  align-items: flex-start;
}

#sum-overview .square-button-V1:first-child {
  margin-left: 3px;
}

#sum-overview .square-button-V1:last-child {
  margin-right: 0;
}

.square-button-V1 {
  display: inline-flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  margin: 0px 18px;
}

.frame-61 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.frame-184 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.frame-184-icon {
  display: flex;
  width: 76px;
  height: 76px;
  align-items: flex-start;
  position: relative;
}

.frame-184-icon img {
  display: none;
}

.task-do-to {
  background: url('../img/sum_task_do_to.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-board {
  background: url('../img/sum_board.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-progress {
  background: url('../img/sum_progress.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-awaiting {
  background: url('../img/sum_awaiting.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-done {
  background: url('../img/sum_done.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.frame-184-span {
  color: #000000;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.square-button-V1:hover {
  gap: 13px;
  border-radius: 0px 30px 30px 30px;
  background: #005DFF;
  margin: 0px 10.5px;
}

.square-button-V1:first-child:hover{
  margin-right: 3px;
}

.square-button-V1:last-child:hover{
  margin-left: 0;
}

.square-button-V1:hover .task-do-to{
  width: 86px;
  height: 86px;
}

.square-button-V1:hover .frame-184-span {
  color: #FFFFFF;
  font-size: 58px;
}

.square-button-V1:hover .sum-board {
  width: 86px;
  height: 86px;
}

.square-button-V1:hover .sum-progress {
  width: 86px;
  height: 86px;
}

.square-button-V1:hover .sum-awaiting {
  width: 86px;
  height: 86px;
}

.square-button-V1:hover .sum-done {
  width: 86px;
  height: 86px;
}

.square-button-V1:hover .frame-61-span {
  color: #FFFFFF;
  font-size: 28px;
}

.square-button-V1:hover .frame-184-icon img{
  display: block;
  position: absolute;    
  width: 77px;
  height: 85px;
  left: 4px;
}

.square-button-V1:active {
  border-radius: 30px;
  background: #FFFFFF;
  margin: 0px 18px;
}

.square-button-V1:first-child:active {
  margin-right: 18px;
}

.square-button-V1:last-child:active {
  margin-right: 18px;
}

.square-button-V1:active .task-do-to{
  width: 76px;
  height: 76px;
}

.square-button-V1:active .frame-184-span {
  color: #000000;
  font-size: 48px;
}

.square-button-V1:active .sum-board {
  width: 76px;
  height: 76px;
}

.square-button-V1:active .sum-progress {
  width: 76px;
  height: 76px;
}

.square-button-V1:active .sum-awaiting {
  width: 76px;
  height: 76px;
}

.square-button-V1:active .sum-done {
  width: 76px;
  height: 76px;
}

.square-button-V1:active .frame-61-span {
  color: #4589FF;
  font-size: 23px;
}

.square-button-V1:active .frame-184-icon img{
  display: none;
}